*{
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
    display: flex;
    flex-direction: column;
}


.small{
    font-size: 0.9rem;
}
.medium{
    font-size: 1.2rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-weight: 400;
    font-size: 2.5rem;
}

h3{
    font-size: 1.6rem;
}

.top{
    display: flex;
    justify-content: space-between;
}
 .top .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top .left .location{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top .left .temp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#cur-icon{
    width: 120px;
}



#change-unit, #city, #city::placeholder{
    background:none;
    color: white;
    opacity: 1;
    border: none;
    outline: none;
    text-align: start;
}
#city{
    width: 120px;
}

.left .change-city{
    display: flex;
    align-items: center;
    width: 160px;
    gap: 0px;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0 8px;
}

.top .right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right > div{
    display: flex;
    gap: 10px;
}
.right > div > img{
    width: 35px;
}
.right > div >div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.bottom{
    display: flex;
    margin-top: 120px;
    padding-bottom: 30px;
    overflow-x: auto;

}
.bottom .hour{
    min-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

::-webkit-scrollbar{
    background:none;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:yellow ;
}


@media (max-width: 600px) {
    .bottom {
        flex-direction: column;
    }
    .bottom .hour{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }